<!-- views/partials/footer.ejs -->
<footer>
<div id="footer" class="border w-100">
      <div class="text-center">
          <p class="copyright text-center">&copy; Copyright 2018 Amjad Shomali 1161957</p>
      </div>
</div>
</footer>
</html>