<%- include partials/header %>
<body>
    <div class="content2 d-flex justify-content-center align-items-center w-50" style="margin: auto; padding: 50px;">
        <h4> Please call 0541367954 for staff support :)</h4>
    </div>
</body>
<%- include partials/footer %>